.border-r {
  border-left: 1px solid  var(--gray-200);
  border-right: 1px solid  var(--gray-200);
}


.tweet-card {
  display: flex;
  margin-bottom: 8px;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  flex-direction: column;

}

.content-row {
  display: flex;
  flex-direction: row;
  gap: 4px;

}

.content-col {
  display: flex;
  flex-direction: column;

}

.ai-center{
  align-items: center;
}

.gap-24{
  gap: 24px;
}

.tweet-body {
  color: var(--gray-400);
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.btn a {
  text-decoration: none;
  color: white;
}



