.border-r {
  border-left: 1px solid  var(--gray-200);
  border-right: 1px solid  var(--gray-200);
}


.tweet-card {
  display: flex;
  margin-bottom: 8px;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  flex-direction: column;

}

.content-row {
  display: flex;
  flex-direction: row;
  gap: 4px;

}

.content-col {
  display: flex;
  flex-direction: column;

}

.ai-center{
  align-items: center;
}

.gap-24{
  gap: 24px;
}

.tweet-body {
  color: var(--gray-400);
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.btn a, a.btn {
  text-decoration: none;
  color: white;
}

.no-link {
  text-decoration: none;
}



html, body {
  height: 100%;
  
}

.mh-100 {
  min-height: 100%;
  
}

.no-tweets{
  height: 30vh;
}

.tweet-cropper {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-cropper {
  width: 96px;
  height: 96px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-cropper img, .tweet-cropper img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

