/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "./global.css";
@import "./components/button.css";
@import "./components/cta.css";
@import "./components/icon.css";
@import "./components/navbar.css";
@import "./components/input.css";
@import "./components/forms.css";
@import "./components/flash.css";

body {
  background-color: var(--gray-100);
}

/* index.html */
.headings-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttons-container {
  padding: 16px;
}

.button-row {
  display: flex;
  gap: 16px;
  padding: 16px;
  align-items: center;
}

.best-jobs-list {
  grid-column-start: 2;
  grid-column-end: 4;
  list-style: none;
}

.best-jobs-list li {
  padding-left: 48px;
  background-image: url(/images/icons/check-splash.svg);
  background-size: 32px;
  background-repeat: no-repeat;
}

.field_with_errors {
  display: contents;
}

.generic-container {
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* sign in */

.sign-in-container {
  background-color: #fff;
  padding: 24px 16px;
  width: 328px;
}

/* navbar */

#navbar {
  padding: 16px 0;
  justify-content: space-between;
  align-items: flex-start;
}

#menuToggle {
  display: block;
  position: relative;

  top: 8px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle .navbar__link {
  text-decoration: none;
  color: var(--primary-500);
  transition: color 0.3s ease;
}

#menuToggle .navbar__link:hover {
  color: var(--gray-400);
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 16px;
  height: 2px;
  margin-bottom: 2px;
  position: relative;

  background: var(--gray-400);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #232323;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, 0px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  width: 360px;
  left: -312px;
  padding: 50px;
  list-style-type: none;
  transform-origin: 0% 0%;

  transform: translate(0, -100%);
  background-color: var(--gray-100);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  border: 2px solid #d3d3d3;
  opacity: 0;
}

#menu div {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ #menu {
  transform: none;
  opacity: 1;
  transition: transform 0.5s;
  margin-top: 10px;
}
